snippet bat "start bat file" b
@ECHO OFF
:: Comment
endsnippet

snippet bcom "Big Comment" b
:: ==================================================
:: $0
:: ==================================================
endsnippet
