snippet doc "doc start" b
${1:WIP/FAD/BUGFIX
WIP - Work in Progress
FAD - Feature Addition
BUGFIX - Bug Fix
} ${2: Description}

------- TODO -----------------
	$0

------- DONE -----------------

endsnippet
