priority 10

snippet bbox "A nice box over the full width" b
///////////////////////////////////////////////////////////
//${1:content}
///////////////////////////////////////////////////////////
endsnippet


snippet auth "author documentation"
///////////////////////////////////////////////////////////
// Name: ${1:Name}
// Date: ${2:`date "+%Y-%m-%d %H:%M"`}
// Description:
//		${3:content}
///////////////////////////////////////////////////////////
endsnippet

snippet com "used to make comments" b
/* ${1:comment here} */
endsnippet


snippet doc "documentation tempdate"
/**
${1:content}
*/
endsnippet
